---
// src/components/ContentRenderer/variants/ContactVariant.astro
/**
 * Contact Variant - Contact information with social media
 * Features: Contact cards, embedded social media section, 1-3 columns
 */
import type { BaseVariantProps } from "../ContentRenderer.types";
import ContactForm from "@/components/Form/forms/ContactForm.astro";

interface Props extends BaseVariantProps {
  columns?: 1 | 2 | 3;
}

const {
  className = "",
  id,
} = Astro.props as Props;

---

<section id={id} class={`py-16 w-full ${className}`}>
  <div class="px-4">
    <div class="topics-card max-w-[900px] mx-auto">
      <ContactForm className="text-left w-full" />
    </div>
  </div>
</section>
